In [1]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('co2.csv')
df

     YYYYMM    Value
0    197301   72.076
1    197302   64.442
2    197303   64.084
3    197304   60.842
4    197305   61.798
..      ...      ...
518  201603   72.840
519  201604   71.410
520  201605   82.510
521  201606  115.772
522  201607  135.958

[523 rows x 2 columns]

In [3]:
df.head()

   YYYYMM   Value
0  197301  72.076
1  197302  64.442
2  197303  64.084
3  197304  60.842
4  197305  61.798

In [4]:
df.tail()

     YYYYMM    Value
518  201603   72.840
519  201604   71.410
520  201605   82.510
521  201606  115.772
522  201607  135.958

In [5]:
df.shape

(523, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YYYYMM  523 non-null    int64
 1   Value   523 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 8.3 KB

In [7]:
df.describe

<bound method NDFrame.describe of      YYYYMM    Value
0    197301   72.076
1    197302   64.442
2    197303   64.084
3    197304   60.842
4    197305   61.798
..      ...      ...
518  201603   72.840
519  201604   71.410
520  201605   82.510
521  201606  115.772
522  201607  135.958

[523 rows x 2 columns]>

In [10]:
df.isnull().sum()

YYYYMM    0
Value     0
dtype: int64

In [11]:
df.isna().sum()

YYYYMM    0
Value     0
dtype: int64

In [12]:
df.columns

Index(['YYYYMM', 'Value'], dtype='object')

In [19]:
df['Month'] = df.YYYYMM.astype(str).str[4:6].astype(float)
df['Year'] = df.YYYYMM.astype(str).str[0:4].astype(float)

In [22]:
df.drop(['YYYYMM'], axis=1, inplace=True)

In [23]:
df.head()

    Value  Month    Year
0  72.076    1.0  1973.0
1  64.442    2.0  1973.0
2  64.084    3.0  1973.0
3  60.842    4.0  1973.0
4  61.798    5.0  1973.0

In [24]:
X = df.drop(columns='Value', axis=1)
Y = df['Value']

In [25]:
X

     Month    Year
0      1.0  1973.0
1      2.0  1973.0
2      3.0  1973.0
3      4.0  1973.0
4      5.0  1973.0
..     ...     ...
518    3.0  2016.0
519    4.0  2016.0
520    5.0  2016.0
521    6.0  2016.0
522    7.0  2016.0

[523 rows x 2 columns]

In [26]:
Y

0       72.076
1       64.442
2       64.084
3       60.842
4       61.798
        ...
518     72.840
519     71.410
520     82.510
521    115.772
522    135.958
Name: Value, Length: 523, dtype: float64

In [27]:
X.shape

(523, 2)

In [28]:
Y.shape

(523,)

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.23)

In [30]:
X_train.shape

(402, 2)

In [31]:
Y_test.shape

(121,)

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
reg = LinearRegression()

In [36]:
model = reg.fit(X_train, Y_train)

In [37]:
ypr = model.predict(X_test)
model.score(X_test, Y_test)

0.5697177566833511

In [38]:
model.score(X_train, Y_train)

0.49264410010650284

In [45]:
from sklearn.neighbors import KNeighborsRegressor
classifier = KNeighborsRegressor(n_neighbors=5)
classifier.fit(X_train, Y_train)

KNeighborsRegressor()

In [46]:
model1=classifier
y_pred = classifier.predict(X_test)
print(y_pred)

[156.1652  80.2798 146.1644  81.1846 135.3822 133.961  154.6414  86.1012
 101.7854  90.5966 134.0478 131.5334 163.585  145.7222  63.1128 104.2722
 122.2404 117.2036 129.8206 117.3496 160.408  176.2818  95.7788  69.2784
 170.4202  76.3406 150.4684 148.555  127.3132 159.1732 148.6846 175.4024
  64.5556 109.3728 111.2108 158.7022 156.154   65.4244  65.7056  74.7668
 148.8856 126.5482 131.6334 150.839   66.8286 132.7056  96.7944 116.6456
 163.9494 147.3612 101.5948 138.526  125.5036 171.1142 123.7954 113.9132
  74.1554 147.4156  71.1078  69.4954 112.6904 159.7724 113.0248 145.919
 102.849  130.084  127.2468  92.8956 133.7674  96.6466 115.1564 127.6016
 115.928  132.122   68.5718 100.9728 127.6858 115.9942 171.1502 106.3806
 126.1564 141.341  113.9016 107.4698 122.6642 137.2178 171.441   71.3494
 152.0678 121.9226  96.4542 124.76   113.0842 118.5838 140.0222 135.4616
 137.3802 106.4708 140.3286 128.3966 158.4616  70.6904 160.8848 127.203
  87.1478 161.8024  96.2942 143.21    79.5556  74.5894 145.051  130.537
 118.8776 151.2002 146.3398 126.362  172.168  147.9544 153.5716  84.2022
 130.5386]

In [48]:
classifier.score(X_train, Y_train)

0.9627501817481461

In [49]:
import pickle

In [50]:
with open('class.pkl','wb') as f:
    pickle.dump(classifier,f)
    f.close()

In [51]:
classifier = pickle.load(open('class.pkl', 'rb'))